body{
  background-color: rosybrown;
  font-family: Arial,sans-serif;
}
p{
  margin-top: 5px;
  margin-bottom:5px;
}
a{
  text-decoration:none;
}

.business-card{
  background-color: ivory;
  width: 300px;
  padding:20px;
  margin: 80px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:6px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0,0,0,0,15);
}

.profile-image{
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 8px;
}

.full-name{
  font-size: 20px;
  font-weight: bold;
}

.designation{
  color: #444;
}

a{
  text-decoration: none;
  color: #333;
}

a:hover{
  text-decoration: underline;
}

p{
  margin: 4px 0;
}

hr{
  margin: 8px 0;
}
